@import url('https://fonts.googleapis.com/css?family=Onest:wght@100..900&display=swap');
@import "tailwindcss";
@import "@xterm/xterm/css/xterm.css";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Default light mode */
:root {
  --background: #fcfcfc;
  --foreground: #000000;
}

/* Dark mode when .dark class is applied */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* For system preference - only used if enableSystem is true */
@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Onest", sans-serif;
  margin: 0;
  padding: 0;
}

/* In globals.css */
@keyframes matrix {
  0% {
    text-shadow: 0 0 5px rgba(0, 255, 0, 0.7);
    color: rgba(0, 255, 0, 0.9);
  }
  50% {
    text-shadow: 0 0 10px rgba(0, 255, 0, 1);
    color: rgba(0, 255, 0, 1);
  }
  100% {
    text-shadow: 0 0 5px rgba(0, 255, 0, 0.7);
    color: rgba(0, 255, 0, 0.9);
  }
}

.matrix-effect {
  animation: matrix 0.5s infinite;
  background-color: rgba(0, 0, 0, 0.95) !important;
}
